@model ThueXe.Models.CarService
@{
    ViewBag.Title = "Thêm dịch vụ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="page-title">
        <i class="fa-solid fa-align-right fa-rotate-180 fa-sm"></i>
        <span>Thêm mới</span>
    </div>
    <a href="#" onclick="history.go(-1)" class="btn-main btn-labeled bg-brown">
        <span class="icon">
            <i class="fa-solid fa-left"></i>
        </span>
        Quay lại
    </a>
</div>
<div class="content">
    @if (ViewBag.ArticleCat == "success")
    {
        <div id="AlertBox" class="alert alert-success"><strong>Thêm thành công</strong></div>
    }
    @if (ViewBag.ArticleCat == "update")
    {
        <div id="AlertBox" class="alert alert-success"><strong>Cập nhật thành công</strong></div>
    }
    <div class="accordion">
        <div class="accordion-item border-left-slate">
            <div class="accordion-header">
                <div class="card-title">
                    <i class="fa-light fa-octagon-plus fa-lg"></i>
                    Thêm mới
                </div>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#createForm" aria-expanded="true">
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </div>
            <div id="createForm" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    @using (Html.BeginForm("CarService", "CarService", FormMethod.Post, new { @id = "data-insert-form", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)

                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3" for="CategoryName">Tên<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(a => a.Title, new { @class = "form_control w300" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3" for="CategoryName">Slogan<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(a => a.Slogan, new { @class = "form_control w300" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3" for="CategoryName">Số ghế<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(a => a.Car, new { @class = "form_control w300" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Description, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Description)
                                @Html.ValidationMessageFor(a => Model.Description)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.ImageUrl, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.TextBoxFor(a => a.ImageUrl, new { type = "file" })
                                <div class="text-danger mt-2">Chấp nhận ảnh jpg, png, gif, jpeg < 4MB</div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Active, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Active" value="true" checked />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Slug, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.TextBoxFor(a => a.Slug, new { @class = "form_control w300" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.TitleMeta, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.TitleMeta)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.DescriptionMeta, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.DescriptionMeta)
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="reset" onclick="resetAnyFormById('data-insert-form');" class="btn-main btn-white" id="reset">
                                <span>Đặt lại</span>
                                <i class="fa-solid fa-rotate-right ms-2"></i>
                            </button>
                            <button type="submit" class="btn-main btn-primary text-white ms-3">
                                <span>Lưu</span>
                                <i class="fa-solid fa-floppy-disk ms-2"></i>
                            </button>
                        </div>
                    }
                </div>
                    </div>
        </div>
        @Html.Action("ListCarService", "CarService")
    </div>
</div>