@using ThueXe.Models
@model ThueXe.ViewModel.HomeViewModel
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = config.Title;
    ViewBag.Description = config.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("Index");
    //var share = config.ImageShare ?? config.Image;
    //if (share != null)
    //{
    //    ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/configs/", share);
    //}
}
<section class="banner">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-8 d-flex align-items-baseline justify-content-center">
                @foreach (var item in Model.Banners.Where(a => a.GroupId == 1))
                {
                    <div class="list-banner">
                        <div class="title-banner">Dịch vụ</div>
                        <h2>@item.BannerName</h2>
                        <div class="slogan">
                            @item.Slogan
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="" class="btn-color">
                                tìm hiểu thêm
                                <div class="box-icon">
                                    <i class="far fa-long-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                        <div class="img-ban">
                            @if (item.Image != null)
                            {
                                <img src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" class="img-banner" />
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4 d-flex align-items-center">
                @Html.Action("Form")
            </div>
        </div>
    </div>
</section>
<section class="page-section ">
    <div class="container border-bottom pb-4">
        <div class="row">
            @foreach (var item in Model.Banners.Where(a => a.GroupId == 2))
            {
                <div class="col-lg-3">
                    <div class="d-flex intro">
                        @if (item.Image != null)
                        {
                            <img src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" />
                        }
                        <h2>@Html.Raw(item.BannerName)</h2>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="page-section">
    <h2 class="title">Dịch vụ của chúng tôi</h2>
    <p class="sub-title">Dịch vụ thuê xe có lái chuyên nghiệp – linh hoạt theo ngày / tháng / năm đáp ứng mọi nhu cầu di chuyển cá nhân.</p>
    <div class="container">
        <div class="service-slide">
            @foreach (var item in Model.Services)
            {
                var match = System.Text.RegularExpressions.Regex.Match(item.CategoryName, @"\d+");
                var seatCount = match.Success ? match.Value : null;
                <article>
                    <div class="tag">
                        <i class="fas fa-user"></i> @seatCount chỗ
                    </div>
                    <h2>@item.CategoryName</h2>
                    @if (item.Image != null)
                    {
                        <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/articleCategory/", item.Image)" alt="@item.CategoryName" class="lazyload" />
                    }
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="#" class="btn-blue">tìm hiểu thêm</a>
                        </div>
                        <div class="col-lg-6">
                            <a href="#" class="btn-orange">Đặt lịch ngay</a>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
</section>
<section class="page-section">
    <h2 class="title">bảng giá dịch vụ minh bạch </h2>
    <div class="container">
        <div class="box-price">
            <table class="table table-bordered" id="myTable">
                <thead class="header-tb">
                    <tr>
                        <td scope="col">Hành trình</td>
                        <td scope="col">khoảng cách</td>
                        <td scope="col">4 chỗ</td>
                        <td scope="col">7 chỗ</td>
                        <td scope="col">16 chỗ</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Hà Nội - Sơn La</td>
                        <td>198km</td>
                        <td>2.376.000 đ</td>
                        <td>2.772.000 đ</td>
                        <td>4.752.000 đ</td>
                    </tr>
                    <tr>
                        <td scope="row">Hà Nội - Điện Biên</td>
                        <td>436km</td>
                        <td>5.232.000 đ</td>
                        <td>6.104.000 đ</td>
                        <td>10.464.000 đ</td>
                    </tr>
                    <tr>
                        <td scope="row">Hà Nội - Lai Châu</td>
                        <td>447km</td>
                        <td>5.364.000 đ</td>
                        <td>6.258.000 đ</td>
                        <td>10.728.000 đ</td>
                    </tr>
                    <tr>
                        <td scope="row">Hà Nội - Lào Cai</td>
                        <td>291km</td>
                        <td>3.492.000 đ</td>
                        <td>4.074.000 đ</td>
                        <td>6.984.000 đ</td>
                    </tr>
                    <tr>
                        <td scope="row">Hà Nội - Yên Bái</td>
                        <td>160km</td>
                        <td>1.920.000 đ</td>
                        <td>2.240.000 đ</td>
                        <td>3.840.000 đ</td>
                    </tr>
                    <tr>
                        <td scope="row">Hà Nội - Phú Thọ</td>
                        <td>102km</td>
                        <td>1.224.000 đ</td>
                        <td>1.428.000 đ</td>
                        <td>2.448.000 đ</td>
                    </tr>
                    <tr>
                        <td scope="row">Hà Nội - Hà Giang</td>
                        <td>297km</td>
                        <td>3.564.000 đ</td>
                        <td>4.158.000 đ</td>
                        <td>7.128.000 đ</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center pb-2">
                <div id="show-more-table" class="btn-color">
                    xem bảng giá đầy đủ
                    <div class="box-icon">
                        <i class="far fa-long-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="step">
                    <h2 class="title text-left">quy trình thuê xe đơn giản</h2>
                    @foreach (var item in Model.Banners.Where(a => a.GroupId == 3))
                    {
                        int count = 1;
                        <div class="d-flex mt-4">
                            <div class="step-count">
                                @count
                            </div>
                            <div class="step-name">
                                @item.BannerName
                            </div>
                        </div>
                        count++;
                    }
                </div>
            </div>
            <div class="col-lg-8 position-relative QA">
                <h2 class="title">Câu hỏi thường gặp</h2>
                <p class="sub-title">Câu hỏi thường gặp</p>
                @{
                    var banners = Model.Banners.Where(a => a.GroupId == 4).ToList();
                    int index = 0;
                }

                <div class="accordion" id="accordionExample">
                    @foreach (var item in banners)
                    {
                        var headingId = $"heading{index}";
                        var collapseId = $"collapse{index}";
                        bool isFirst = index == 0;

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="@headingId">
                                <button onclick="toggleAccordion(this)" class="accordion-button @(isFirst ? "" : "collapsed")"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#@collapseId"
                                        aria-expanded="@(isFirst.ToString().ToLower())"
                                        aria-controls="@collapseId">
                                    @item.BannerName
                                    <i class="fal fa-arrow-down accordion-icon"></i>
                                </button>
                            </h2>
                            <div id="@collapseId"
                                 class="accordion-collapse collapse @(isFirst ? "show" : "")"
                                 aria-labelledby="@headingId"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @Html.Raw(item.Content)
                                </div>
                            </div>
                        </div>

                        index++;
                    }
                </div>

            </div>
        </div>
    </div>
</section>

<section class="page-section feedback">
    <div class="container">
        <h2 class="title text-white">Feedback</h2>
        <p class="sub-title text-white">All the generators on the Internet tend to repeat predefined chunks as necessary, making this the first true</p>
        <div class="list-feedback">
            @foreach (var item in Model.Banners.Where(a => a.GroupId == 5))
            {
                <div class="feedback-item">
                    <div class="feedback-content">
                        @Html.Raw(item.Content)
                    </div>
                    <div class="d-flex gap-2 align-items-center">
                        @if (item.Image != null)
                        {
                            <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" class="lazyload" />
                        }
                        <div class="feed-back-info">
                            <div class="name-fb">
                                @item.BannerName
                            </div>
                            <div class="fb-postion">
                                @item.Slogan
                            </div>
                            <div class="fb-star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<section class="page-section">
    <div class="container">
        <h2 class="title ">tin tức -  sự kiện</h2>
        <p class="sub-title  mb-4">
            Dịch vụ thuê xe có lái chuyên nghiệp – linh hoạt theo ngày / tháng / năm đáp ứng mọi nhu cầu di chuyển cá nhân.
        </p>
        <div class="row">
            @foreach (var item in Model.Articles)
            {
                <div class="col-lg-4 col-md-6">
                    <article class="article mb-4">
                        @if (item.Image != null)
                        {
                            <a href="@Url.Action("ArticleDetail", new {url = item.Url})">
                                <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject" class="lazyload" />
                            </a>
                        }
                        <div class="date my-2">
                            <i class="fa-regular fa-clock"></i> @item.CreateDate.ToString("dd/MM/yyyy") - @item.CreateDate.ToString("HH:mm")
                        </div>
                        <a class="subject" href="@Url.Action("ArticleDetail", new {url = item.Url})">@item.Subject</a>
                        <hr />
                        <a href="@Url.Action("ArticleDetail", new {url = item.Url})" class="see">Đọc thêm <i class="fa-solid fa-arrow-right"></i></a>
                    </article>
                </div>
            }
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="last-section">
            <div class="row">
                <div class="col-lg-5">
                    <h2 class="title text-white">Lorem ipsum dolor </h2>
                    <span class="sub-title text-white">All the generators on the Internet tend to repeat predefined chunks as necessary, making this the first true</span>
                    <a href="" class="btn-color mt-4">
                        đặt xe ngay
                        <div class="box-icon">
                            <i class="far fa-long-arrow-right"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-7">
                    <img src="~/Content/images/svg/oto.svg" alt="@config.Title" class="fa-motorcycle" />
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        homeJs()
    </script>
}