@using ThueXe.Models
@model ThueXe.ViewModel.HomeViewModel
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = config.Title;
    ViewBag.Description = config.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("Index");
    var share = config.ImageShare ?? config.Image;
    if (share != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/configs/", share);
    }
    int count = 1;
}
<section class="banner">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-8 d-flex align-items-baseline justify-content-center">
                @foreach (var item in Model.Banners.Where(a => a.GroupId == 1).Take(1))
                {
                    <div class="list-banner">
                        <div class="title-banner">Dịch vụ</div>
                        <h2>@item.BannerName</h2>
                        <div class="slogan">
                            @item.Slogan
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="@config.Zalo" class="btn-color">
                                tìm hiểu thêm
                                <div class="box-icon">
                                    <i class="far fa-long-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                        <div class="img-ban">
                            @if (item.Image != null)
                            {
                                <img src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" class="img-banner" />
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4 d-lg-flex d-none align-items-center">
                @Html.Action("Form")
            </div>
        </div>
    </div>
</section>
<div class="container py-3">
    <div class="d-lg-none d-block align-items-center justify-content-center">
        @Html.Action("Form")
    </div>
</div>
<section class="page-section ">
    <div class="container border-bottom pb-lg-4">
        <div class="row">
            @foreach (var item in Model.Banners.Where(a => a.GroupId == 2))
            {
                <div class="col-lg-3 col-6">
                    <div class="d-flex intro">
                        @if (item.Image != null)
                        {
                            <img src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" />
                        }
                        <h2>@Html.Raw(item.BannerName)</h2>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="page-section">
    <h2 class="title">Dịch vụ của chúng tôi</h2>
    <p class="sub-title">Dịch vụ cho thuê xe 4 – 7 – 16 – 29 – 45 chỗ giá rẻ, xe mới , tài xế chuyên nghiệp và thân thiện</p>
    <div class="container">
        <div class="service-slide">
            @foreach (var item in Model.Services)
            {

                var cat = Url.Action("ServiceCar", "Home", new { url = item.Slug });
                <article>
                    <div class="tag">
                        <i class="fas fa-user"></i> @item.Car
                    </div>
                    <h2>@item.Title</h2>
                    <div class="info-car row">
                        <div class="col-6 d-flex align-items-center gap-2 mt-3">
                            <img src="~/Content/images/svg/icon-1.svg" alt="Icon 1" width="19" height="13" />
                            <small>@item.Firm</small>
                        </div>
                        <div class="col-6 d-flex align-items-center gap-2 mt-3">
                            <img src="~/Content/images/svg/icon-2.svg" alt="Icon 1" width="19" height="13" />
                            <small>@item.Speed</small>
                        </div>
                        <div class="col-6 d-flex align-items-center gap-2 mt-1">
                            <img src="~/Content/images/svg/icon-3.svg" alt="Icon 1" width="19" height="13" />
                            <small>@item.Type</small>
                        </div>
                        <div class="col-6 d-flex align-items-center gap-2 mt-1">
                            <img src="~/Content/images/svg/icon-4.svg" alt="Icon 1" width="19" height="13" />
                            <small>@item.Capacity</small>
                        </div>
                    </div>
                    @if (item.Image != null)
                    {
                        <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/carService/", item.Image)" alt="@item.Title" class="lazyload car-img" />
                    }
                    <div class="row">
                        <div class="col-lg-6 text-center col-6">
                            <a href="@cat" class="btn-blue d-lg-block d-md-block">tìm hiểu thêm</a>
                        </div>
                        <div class="col-lg-6 col-6 text-center">
                            <a href="#bookingForm" class="btn-orange d-lg-block d-md-none">Đặt lịch ngay</a>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
</section>

<section class="page-section">
    <h2 class="title">bảng giá dịch vụ minh bạch </h2>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="btn-group filer-btn" role="group" aria-label="Basic example">
                <button type="button" id="btn-4cho" class="btn active">4 chỗ</button>
                <button type="button" id="btn-7cho" class="btn ">7 chỗ</button>
                <button type="button" id="btn-16cho" class="btn">16 chỗ</button>
                <button type="button" id="btn-29cho" class="btn">29 chỗ</button>
                <button type="button" id="btn-45cho" class="btn">45 chỗ</button>
            </div>
        </div>
        <div class="box-price">
            <table id="priceTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Hành trình</th>
                        <th>KM</th>
                        <th id="priceHeader">Giá</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table class="table table-bordered" id="myTable">
                <thead class="header-tb">
                    <tr>
                        <td scope="col">Hành trình</td>
                        <td scope="col">KM</td>
                        <td scope="col">4 chỗ</td>
                        <td scope="col">7 chỗ</td>
                        <td scope="col">16 chỗ</td>
                        <td scope="col">29 chỗ</td>
                        <td scope="col">45 chỗ</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Nội - Sơn La</td>
                        <td>198</td>
                        <td>2.376.000 đ</td>
                        <td>2.772.000 đ</td>
                        <td>4.752.000 đ</td>
                        <td>4.752.000 đ</td>
                        <td>4.752.000 đ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Điện Biên</td>
                        <td>436</td>
                        <td>5.232.000 đ</td>
                        <td>6.104.000 đ</td>
                        <td>10.464.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Lai Châu</td>
                        <td>447</td>
                        <td>5.364.000 đ</td>
                        <td>6.258.000 đ</td>
                        <td>10.728.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Lào Cai</td>
                        <td>291</td>
                        <td>3.492.000 đ</td>
                        <td>4.074.000 đ</td>
                        <td>6.984.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Yên Bái</td>
                        <td>160</td>
                        <td>1.920.000 đ</td>
                        <td>2.240.000 đ</td>
                        <td>3.840.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Phú Thọ</td>
                        <td>102</td>
                        <td>1.224.000 đ</td>
                        <td>1.428.000 đ</td>
                        <td>2.448.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Hà Giang</td>
                        <td>297</td>
                        <td>3.564.000 đ</td>
                        <td>4.158.000 đ</td>
                        <td>7.128.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Tuyên Quang</td>
                        <td>146</td>
                        <td>1.752.000 đ</td>
                        <td>2.044.000 đ</td>
                        <td>3.504.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Cao Bằng</td>
                        <td>285</td>
                        <td>3.420.000 đ</td>
                        <td>3.990.000 đ</td>
                        <td>6.840.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Thái Nguyên</td>
                        <td>90</td>
                        <td>1.080.000 đ</td>
                        <td>1.260.000 đ</td>
                        <td>2.160.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Lạng Sơn</td>
                        <td>161</td>
                        <td>1.932.000 đ</td>
                        <td>2.254.000 đ</td>
                        <td>3.864.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr class="hot">
                        <td>Hà Nội - Quảng Ninh <img src="~/Content/images/hot-gif.gif" width="30" height="30" alt="Hot" /></td>
                        <td>157</td>
                        <td>1.884.000 đ</td>
                        <td>2.198.000 đ</td>
                        <td>3.768.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Hải Phòng</td>
                        <td>125</td>
                        <td>1.500.000 đ</td>
                        <td>1.750.000 đ</td>
                        <td>3.000.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Nam Định</td>
                        <td>85</td>
                        <td>1.020.000 đ</td>
                        <td>1.190.000 đ</td>
                        <td>2.040.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Thái Bình</td>
                        <td>105</td>
                        <td>1.260.000 đ</td>
                        <td>1.470.000 đ</td>
                        <td>2.520.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Ninh Bình</td>
                        <td>95</td>
                        <td>1.140.000 đ</td>
                        <td>1.330.000 đ</td>
                        <td>2.280.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Thanh Hóa</td>
                        <td>168</td>
                        <td>2.016.000 đ</td>
                        <td>2.352.000 đ</td>
                        <td>4.032.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Nghệ An</td>
                        <td>345</td>
                        <td>4.140.000 đ</td>
                        <td>4.830.000 đ</td>
                        <td>8.280.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                    <tr>
                        <td>Hà Nội - Hà Tĩnh</td>
                        <td>344</td>
                        <td>4.128.000 đ</td>
                        <td>4.816.000 đ</td>
                        <td>8.256.000 đ</td>
                        <td>Liên hệ</td>
                        <td>Liên hệ</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center pb-2">
                <div id="show-more-table" class="btn-color">
                    xem bảng giá đầy đủ
                    <div class="box-icon">
                        <i class="far fa-long-arrow-right"></i>
                    </div>
                </div>
                <a href="@config.Hotline" id="show-call-table" class="btn-color">
                    Nhận báo giá chính xác
                </a>
            </div>
        </div>
        <div class="note mt-3">
            <small><strong>Ghi chú:</strong></small>
            <ul class="px-3">
                <li><small>Giá trên đã bao gồm xăng dầu, lương lái xe, cầu đường quốc lộ, bến bãi</small></li>
                <li><small>Giá chưa gồm thuế VAT8%</small></li>
                <li><small>Giá trên có thể thay đổi theo từng thời điểm ( sự thay đổi giá nhiên liệu, hoặc tùy theo hành trình thuê xe của khách hàng)</small></li>
                <li><small>Giá trên chưa bao gồm phí lưu đêm của xe ( nếu có ) </small></li>
            </ul>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="step">
                    <h2 class="title text-left">quy trình thuê xe đơn giản</h2>
                    @foreach (var item in Model.Banners.Where(a => a.GroupId == 3))
                    {
                        <div class="d-flex mt-4 align-items-center gap-2">
                            <div class="step-count">
                                @count
                            </div>
                            <div class="step-name h-auto">
                                @item.BannerName
                            </div>
                        </div>
                        count+=1;
                    }
                </div>
            </div>
            <div class="col-lg-8 position-relative QA">
                <h2 class="title">Câu hỏi thường gặp</h2>
                <p class="sub-title">Câu hỏi thường gặp</p>
                @{
                    var banners = Model.Banners.Where(a => a.GroupId == 4).ToList();
                    int index = 0;
                }

                <div class="accordion" id="accordionExample">
                    @foreach (var item in banners)
                    {
                        var headingId = $"heading{index}";
                        var collapseId = $"collapse{index}";
                        bool isFirst = index == 0;
                        int delay = 200;
                        <div class="accordion-item" data-aos-duration="700" data-aos-delay="@delay" data-aos="fade-right">
                            <h2 class="accordion-header" id="@headingId">
                                <button onclick="toggleAccordion(this)" class="accordion-button @(isFirst ? "" : "collapsed")"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#@collapseId"
                                        aria-expanded="@(isFirst.ToString().ToLower())"
                                        aria-controls="@collapseId">
                                    @item.BannerName
                                    <i class="fal fa-arrow-down accordion-icon"></i>
                                </button>
                            </h2>
                            <div id="@collapseId"
                                 class="accordion-collapse collapse @(isFirst ? "show" : "")"
                                 aria-labelledby="@headingId"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @Html.Raw(item.Content)
                                </div>
                            </div>
                        </div>

                        index++; delay += 200;
                    }
                </div>

            </div>
        </div>
    </div>
</section>

<section class="page-section feedback">
    <div class="container">
        <h2 class="title text-white">Feedback</h2>
        <p class="sub-title text-white">All the generators on the Internet tend to repeat predefined chunks as necessary, making this the first true</p>
        <div class="list-feedback">
            @foreach (var item in Model.Banners.Where(a => a.GroupId == 5))
            {
                <div class="feedback-item">
                    <div class="feedback-content">
                        @Html.Raw(item.Content)
                    </div>
                    <div class="d-flex gap-2 align-items-center">
                        @if (item.Image != null)
                        {
                            <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" class="lazyload" />
                        }
                        <div class="feed-back-info">
                            <div class="name-fb">
                                @item.BannerName
                            </div>
                            <div class="fb-postion">
                                @item.Slogan
                            </div>
                            <div class="fb-star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>

<section class="page-section">
    <div class="container">
        <h2 class="title ">tin tức -  sự kiện</h2>
        <p class="sub-title  mb-4">
            Dịch vụ thuê xe có lái chuyên nghiệp – linh hoạt theo ngày / tháng / năm đáp ứng mọi nhu cầu di chuyển cá nhân.
        </p>
        <div class="row article-row">
            @foreach (var item in Model.Articles)
            {
                <div class="col-lg-4 col-6">
                    <article class="article mb-4">
                        @if (item.Image != null)
                        {
                            <a href="@Url.Action("ArticleDetail", new {url = item.Url})">
                                <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject" class="lazyload" />
                            </a>
                        }
                        <div class="date my-2">
                            <i class="fa-regular fa-clock"></i> @item.CreateDate.ToString("dd/MM/yyyy") - @item.CreateDate.ToString("HH:mm")
                        </div>
                        <a class="subject" href="@Url.Action("ArticleDetail", new {url = item.Url})">@item.Subject</a>
                        <hr />
                        <a href="@Url.Action("ArticleDetail", new {url = item.Url})" class="see">Đọc thêm <i class="fa-solid fa-arrow-right"></i></a>
                    </article>
                </div>
            }
        </div>
    </div>
</section>

@*<section class="page-section">
    <div class="container">
        <div class="last-section">
            <div class="row">
                <div class="col-lg-5 order-lg-0 order-1">
                    <h2 class="title text-white">Lorem ipsum dolor </h2>
                    <span class="sub-title text-white">All the generators on the Internet tend to repeat predefined chunks as necessary, making this the first true</span>
                    <a href="@config.Zalo" class="btn-color mt-4 d-flex">
                        đặt xe ngay
                        <div class="box-icon">
                            <i class="far fa-long-arrow-right"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-7 order-lg-1 order-0">
                    <img src="~/Content/images/svg/oto.svg" alt="@config.Title" class="fa-motorcycle" />
                </div>
            </div>
        </div>
    </div>
</section>*@

@section scripts{
    <script>
        homeJs()
    </script>
}