@using ThueXe.Models
@model ThueXe.ViewModel.HomeViewModel
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = config.Title;
    ViewBag.Description = config.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("Index");
    //var share = config.ImageShare ?? config.Image;
    //if (share != null)
    //{
    //    ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/configs/", share);
    //}
}
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model.Banners.Where(a => a.GroupId == 1))
                {
                    <div class="list-banner">
                        <h2>@item.BannerName</h2>
                        <div class="slogan">
                            @Html.Raw(item.Content)
                        </div>
                        <a href="" class="btn-color">
                            tìm hiểu thêm
                            <div class="box-icon">
                                <i class="far fa-long-arrow-right"></i>
                            </div>
                        </a>
                        @if (item.Image != null)
                        {
                            <img src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" class="img-banner"/>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-4 d-flex align-items-center">
                @Html.Action("Form")
            </div>
        </div>
    </div>
</section>