@using ThueXe.Models
@model ThueXe.ViewModel.ServiceCarViewModel
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = Model.CarService.TitleMeta ?? Model.CarService.Title;
    ViewBag.Description = Model.CarService.DescriptionMeta ?? Model.CarService.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("Index");
    var share = config.ImageShare ?? config.Image;
    if (share != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/configs/", share);
    }
    int count = 1;
}
<section class="banner custom-baner"
         style="--bg: url('@(string.IsNullOrEmpty(Model.CarService?.ImageUrl)
        ? "/images/default.jpg"
        : $"/images/carService/{Model.CarService.ImageUrl}")')">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-8 d-flex align-items-center justify-content-center">
                <div class="list-banner">
                    <div class="service-title">
                        @Model.CarService.Slogan
                    </div>
                    <div class="service-sub">
                        @Model.CarService.Description
                    </div>
                    <a href="tel:@config.Hotline" class="btn-color d-flex mt-4">
                        Đặt xe ngay
                        <div class="box-icon">
                            <i class="far fa-long-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 d-lg-flex d-none align-items-center">
                @Html.Action("FormLanding" , new {typeCar = Model.CarService.Car})
            </div>
        </div>
    </div>
</section>
<div class="container py-3">
    <div class=" d-lg-none d-block align-items-center justify-content-center">
        @Html.Action("FormLanding")
    </div>
</div>
@if (Model.CarService.Details.Any(a => a.CarServiceType == CarServiceType.Highlight))
{
    var delay = 200;
    <section class="page-section">
        <div class="container">
            <h2 class="title">ưu điểm vượt trội</h2>
            <p class="sub-title">Câu hỏi thường gặp</p>
            <div class="row">
                @foreach (var item in Model.CarService.Details.Where(a => a.CarServiceType == CarServiceType.Highlight))
                {
                    <div class="col-6">
                        <div class="d-flex gap-3 mt-3 custom-cloum" data-aos-duration="700" data-aos-delay="@delay" data-aos="zoom-in">
                            @if (item.Image != null)
                            {
                                <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/detail/", item.Image)" alt="@item.Name" class="icon-img lazyload" />
                            }
                            <div class="uu-info">
                                <p>@item.Name</p>
                                <span>@item.Desciption</span>
                            </div>
                        </div>
                    </div>
                    delay += 200;
                }
            </div>
        </div>
    </section>
}
@if (Model.CarService.Details.Any(a => a.CarServiceType == CarServiceType.SupportedCar))
{
    <section class="page-section overflow-hidden">
        <div class="container">
            <h2 class="title">các dòng xe 7 chỗ có lái </h2>
            <p class="sub-title">Dịch vụ thuê xe có lái chuyên nghiệp – linh hoạt theo ngày / tháng / năm đáp ứng mọi nhu cầu di chuyển cá nhân.</p>
            <div class="list-car">
                @foreach (var item in Model.CarService.Details.Where(a => a.CarServiceType == CarServiceType.SupportedCar))
                {
                    var galleryId = "detail-" + item.Id;
                    var listImgs = (item.ListImage ?? "")
                      .Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries)
                      .Select(x => x.Trim())
                      .Where(x => !string.IsNullOrWhiteSpace(x))
                      .Distinct(StringComparer.OrdinalIgnoreCase)
                      .ToList();

                    <div class="car-item" onclick="document.querySelector('#@galleryId-first').click()">
                        @if (item.Image != null)
                        {
                            <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/detail/", item.Image)" alt="@item.Name" class="lazyload" />
                        }
                        @if (listImgs.Any())
                        {
                            var firstImgUrl = Url.Content("~/images/detail/" + listImgs.First());
                            <a id="@galleryId-first" href="@firstImgUrl" data-fancybox="@galleryId" data-caption="@item.Name" style="display:none"></a>

                            foreach (var img in listImgs.Skip(1))
                            {
                                var imgUrl = Url.Content("~/images/detail/" + img);
                                <a href="@imgUrl" data-fancybox="@galleryId" data-caption="@item.Name" style="display:none"></a>
                            }
                        }

                        <div class="car-name">
                            @item.Name
                        </div>
                        <div class="year-car">
                            @item.Desciption
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
@if (Model.CarService.CarServicePrices.Any())
{
    <section class="page-section">
        <h2 class="title">bảng giá dịch vụ minh bạch </h2>
        <div class="container">
            <div class="box-price">
                <table class="table table-bordered" id="myTable">
                    <thead class="header-tb">
                        <tr>
                            <td scope="col">Hành trình</td>
                            <td scope="col">KM</td>
                            <td scope="col">Giá</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CarService.CarServicePrices)
                        {
                            <tr>
                                <td scope="row">@item.RouteDescription</td>
                                <td>@item.Km</td>
                                <td>@item.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-center pb-2">
                    <div id="show-more-table" class="btn-color">
                        xem bảng giá đầy đủ
                        <div class="box-icon">
                            <i class="far fa-long-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="step">
                    <h2 class="title text-left">quy trình thuê xe đơn giản</h2>
                    @foreach (var item in Model.CarService.Details.Where(a => a.CarServiceType == CarServiceType.ProcessStep))
                    {
                        <div class="d-flex mt-4 align-items-center gap-2">
                            <div class="step-count">
                                @count
                            </div>
                            <div class="step-name h-auto">
                                @item.Name
                            </div>
                        </div>
                        count += 1;
                    }
                </div>
            </div>
            <div class="col-lg-8 position-relative QA">
                <h2 class="title">Câu hỏi thường gặp</h2>
                <p class="sub-title">Câu hỏi thường gặp</p>
                @{
                    var banners = Model.CarService.Details.Where(a => a.CarServiceType == CarServiceType.Policy).ToList();
                    int index = 0;
                }

                <div class="accordion" id="accordionExample">
                    @foreach (var item in banners)
                    {
                        var headingId = $"heading{index}";
                        var collapseId = $"collapse{index}";
                        bool isFirst = index == 0;
                        int delay = 200;
                        <div class="accordion-item" data-aos-duration="700" data-aos-delay="@delay" data-aos="fade-right">
                            <h2 class="accordion-header" id="@headingId">
                                <button onclick="toggleAccordion(this)" class="accordion-button @(isFirst ? "" : "collapsed")"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#@collapseId"
                                        aria-expanded="@(isFirst.ToString().ToLower())"
                                        aria-controls="@collapseId">
                                    @item.Name
                                    <i class="fal fa-arrow-down accordion-icon"></i>
                                </button>
                            </h2>
                            <div id="@collapseId"
                                 class="accordion-collapse collapse @(isFirst ? "show" : "")"
                                 aria-labelledby="@headingId"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @Html.Raw(item.Desciption)
                                </div>
                            </div>
                        </div>

                        index++; delay += 200;
                    }
                </div>

            </div>
            @*<div class="col-lg-5 position-relative QA">
                <h2 class="title">cam kết dịch vụ</h2>
                <p class="sub-title">cam kết dịch vụ</p>
                @{
                    var banners = Model.CarService.Details.Where(a => a.CarServiceType == CarServiceType.Policy).ToList();
                    int index = 0;
                }

                <div class="accordion" id="accordionExample">
                    @foreach (var item in banners)
                    {
                        var headingId = $"heading{index}";
                        var collapseId = $"collapse{index}";
                        bool isFirst = index == 0;

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="@headingId">
                                <button onclick="toggleAccordion(this)" class="accordion-button @(isFirst ? "" : "collapsed")"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#@collapseId"
                                        aria-expanded="@(isFirst.ToString().ToLower())"
                                        aria-controls="@collapseId">
                                    @item.Name
                                    <i class="fal fa-arrow-down accordion-icon"></i>
                                </button>
                            </h2>
                            <div id="@collapseId"
                                 class="accordion-collapse collapse "
                                 aria-labelledby="@headingId"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @Html.Raw(item.Desciption)
                                </div>
                            </div>
                        </div>

                        index++;
                    }
                </div>

            </div>*@
        </div>
    </div>
</section>
@if (Model.CarService.Body != null)
{
    <section class="page-section">
        <div class="container">
            <div class="detail-content car-body">
                @Html.Raw(Model.CarService.Body)
            </div>
            <div class="view-all text-center mt-3 text-primary pointer-event">
                Xem thêm
            </div>
        </div>
    </section>
}

<section class="page-section feedback">
    <div class="container">
        <h2 class="title text-white">Feedback</h2>
        <p class="sub-title text-white">Dịch vụ thuê xe có lái chuyên nghiệp – linh hoạt theo ngày / tháng / năm đáp ứng mọi nhu cầu di chuyển cá nhân.</p>
        <div class="list-feedback">
            @foreach (var item in Model.Banners.Where(a => a.GroupId == 5))
            {
                <div class="feedback-item">
                    <div class="feedback-content">
                        @Html.Raw(item.Content)
                    </div>
                    <div class="d-flex gap-2 align-items-center">
                        @if (item.Image != null)
                        {
                            <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" class="lazyload" />
                        }
                        <div class="feed-back-info">
                            <div class="name-fb">
                                @item.BannerName
                            </div>
                            <div class="fb-postion">
                                @item.Slogan
                            </div>
                            <div class="fb-star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<section class="page-section">
    <div class="container">
        <h2 class="title ">tin tức -  sự kiện</h2>
        <p class="sub-title  mb-4">
            Dịch vụ thuê xe có lái chuyên nghiệp – linh hoạt theo ngày / tháng / năm đáp ứng mọi nhu cầu di chuyển cá nhân.
        </p>
        <div class="row">
            @foreach (var item in Model.Articles)
            {
                <div class="col-lg-4 col-6">
                    <article class="article mb-4">
                        @if (item.Image != null)
                        {
                            <a href="@Url.Action("ArticleDetail", new {url = item.Url})">
                                <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject" class="lazyload" />
                            </a>
                        }
                        <div class="date my-2">
                            <i class="fa-regular fa-clock"></i> @item.CreateDate.ToString("dd/MM/yyyy") - @item.CreateDate.ToString("HH:mm")
                        </div>
                        <a class="subject" href="@Url.Action("ArticleDetail", new {url = item.Url})">@item.Subject</a>
                        <hr />
                        <a href="@Url.Action("ArticleDetail", new {url = item.Url})" class="see">Đọc thêm <i class="fa-solid fa-arrow-right"></i></a>
                    </article>
                </div>
            }
        </div>
    </div>
</section>
@section scripts{
    <script>
        homeJs()
    </script>
}