@model ThueXe.ViewModel.ListCustomerTripViewModel

<div class="card card-dark-blue p-0" style="width: 1000px; max-width: 100%">
    <div class="card-header">Danh sách chuyến đi</div>
    <div class="card-body">
        <p>Có tổng số <strong>@Model.Trips.Count()</strong> chuyến đi</p>
        <div class="table-responsive">
            <table class="list_table tablecenter table-striped">
                <tbody>
                    <tr>
                        <th>Điểm đi</th>
                        <th>Điểm đến</th>
                        <th>Ngày đi</th>
                        <th>Ngày về</th>
                        <th>Lái xe</th>
                        <th>Loại xe</th>
                        <th>Nguồn</th>
                        <th>Trạng thái</th>
                        <th>Quãng đường</th>
                        <th>Giá</th>
                        <th>Giá khuyến mãi</th>
                        <th>Phí cầu đường</th>
                        <th>Khác</th>
                        <th>Ghi chú</th>
                        <th style="width: 100px"></th>
                    </tr>
                    @foreach (var trip in Model.Trips)
                    {
                        <tr data-id="@trip.Id">
                            <td>@trip.From</td>
                            <td>@trip.To</td>
                            <td>@Html.DisplayFor(a => trip.FromDate)</td>
                            <td>@Html.DisplayFor(a => trip.ToDate)</td>
                            <td>
                                @if (trip.Driver.Name != null)
                                {
                                    @trip.Driver.Name
                                }
                            </td>
                            <td>@Html.DisplayFor(a => trip.TypeCar)</td>
                            <td>@Html.DisplayFor(a => trip.Source)</td>
                            <td>@Html.DisplayFor(a => trip.Status)</td>
                            <td>@trip.Distance km</td>
                            <td>@Convert.ToDecimal(trip.Price).ToString("N0")</td>
                            <td>@Convert.ToDecimal(trip.PriceSale).ToString("N0")</td>
                            <td>@Convert.ToDecimal(trip.Tolls).ToString("N0")</td>
                            <td>@Convert.ToDecimal(trip.Other).ToString("N0")</td>
                            <td>@trip.Note</td>
                            <td class="action-col">
                                @Html.ActionLink("Sửa", "UpdateTrip", new { tripId = trip.Id }) -
                                <a href="javascript:;" onclick="deleteTrip('@trip.Id')" style="color: red;">Xóa</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="13">Doanh số</td>
                        <td>@Convert.ToDecimal(Model.Sales).ToString("N0")<span>đ</span></td>
                    </tr>
                    <tr>
                        <td colspan="13">Doanh thu</td>
                        <td>@Convert.ToDecimal(Model.Revenue).ToString("N0")<span>đ</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function deleteTrip(id) {
        if (confirm("Bạn có chắc chắn xóa chuyến đi này không?")) {
            $.post("/Customer/DeleteTrip", { tripId: id }, function (data) {
                if (data) {
                    $.toast({
                        text: 'Xóa chuyến đi thành công',
                        position: 'bottom-right',
                        icon: 'success',
                    })
                    $("tr[data-id='" + id + "']").fadeOut();
                }
                else {
                    $.toast({
                        text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                        icon: 'error',
                    })
                }
            });
        }
    }
</script>